n8n/workflows/ops/STARTUPS_FEED_AUTOPILOT_fixed.json
{
  "name": "STARTUPS - Feed Autopilot (fixed)",
  "nodes": [
    {
      "parameters": { "rule": { "interval": [ { "field": "hours" } ] } },
      "id": "trg-startups-hourly",
      "name": "AUTOPILOT_hourly",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [ -1920, 160 ],
      "notes": "Runs hourly to aggregate Startups news via HTTP (RSS)."
    },
    {
      "parameters": {
        "jsCode": "const date = new Date().toISOString().slice(0,10);\nreturn [{ json: { params: { category:'startups', timeWindowHours:48, languages:['es','pt','en'], minItems:3, feedMaxLatest:150, repoOwner:'vulcanoai', repoName:'vulcanoai.github.io', branch:'main', pathLatest:'data/startups/feed-latest.json', pathSnapshot:`data/startups/feed-${date}.json` } } }];"
      },
      "id": "build-params-startups",
      "name": "BUILD_PARAMS",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [ -1680, 160 ]
    },
    { "parameters": { "url": "https://contxto.com/feed/", "responseFormat": "string" }, "id": "http-contxto", "name": "HTTP_Contxto_RSS", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4, "position": [ -1680, -96 ] },
    { "parameters": { "jsCode": "const xml=($json.body||$json.data||$json)||'';function t(v){return String(v||'').replace(/<[^>]+>/g,' ').replace(/\\s+/g,' ').trim();}const out=[];const re=/<item[\\s\\S]*?<\\/item>/gi;let m;while((m=re.exec(xml))){const it=m[0];const title=t((it.match(/<title>([\\s\\S]*?)<\\/title>/i)||[])[1]);const link=t((it.match(/<link>([\\s\\S]*?)<\\/link>/i)||[])[1]);const desc=t((it.match(/<description>([\\s\\S]*?)<\\/description>/i)||[])[1]);const date=t((it.match(/<pubDate>([\\s\\S]*?)<\\/pubDate>/i)||[])[1]||(it.match(/<updated>([\\s\\S]*?)<\\/updated>/i)||[])[1]);if(!title||!link) continue;out.push({id:link||title,title,summary:desc,url:link,source:'Contxto',source_url:'https://contxto.com',country:'Regional',topics:['Startups','Inversion'],language:'es',published_at:new Date(date||Date.now()).toISOString(),relevance:5,sentiment:'neutral',author:'',curator:'Luciano AI'});}return [{ json:{ articles: out } }];" }, "id": "parse-contxto", "name": "PARSE_Contxto", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [ -1456, -96 ] },
    { "parameters": { "url": "https://startupi.com.br/feed/", "responseFormat": "string" }, "id": "http-startupi", "name": "HTTP_Startupi_RSS", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4, "position": [ -1680, 16 ] },
    { "parameters": { "jsCode": "const xml=($json.body||$json.data||$json)||'';function t(v){return String(v||'').replace(/<[^>]+>/g,' ').replace(/\\s+/g,' ').trim();}const out=[];const re=/<item[\\s\\S]*?<\\/item>/gi;let m;while((m=re.exec(xml))){const it=m[0];const title=t((it.match(/<title>([\\s\\S]*?)<\\/title>/i)||[])[1]);const link=t((it.match(/<link>([\\s\\S]*?)<\\/link>/i)||[])[1]);const desc=t((it.match(/<description>([\\s\\S]*?)<\\/description>/i)||[])[1]);const date=t((it.match(/<pubDate>([\\s\\S]*?)<\\/pubDate>/i)||[])[1]||(it.match(/<updated>([\\s\\S]*?)<\\/updated>/i)||[])[1]);if(!title||!link) continue;out.push({id:link||title,title,summary:desc,url:link,source:'Startupi',source_url:'https://startupi.com.br',country:'Brasil',topics:['Startups','Empresas'],language:'pt',published_at:new Date(date||Date.now()).toISOString(),relevance:5,sentiment:'neutral',author:'',curator:'Luciano AI'});}return [{ json:{ articles: out } }];" }, "id": "parse-startupi", "name": "PARSE_Startupi", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [ -1456, 16 ] },
    { "parameters": { "url": "https://startups.com.br/feed/", "responseFormat": "string" }, "id": "http-startupsbr", "name": "HTTP_StartupsBR_RSS", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4, "position": [ -1680, 128 ] },
    { "parameters": { "jsCode": "const xml=($json.body||$json.data||$json)||'';function t(v){return String(v||'').replace(/<[^>]+>/g,' ').replace(/\\s+/g,' ').trim();}const out=[];const re=/<item[\\s\\S]*?<\\/item>/gi;let m;while((m=re.exec(xml))){const it=m[0];const title=t((it.match(/<title>([\\s\\S]*?)<\\/title>/i)||[])[1]);const link=t((it.match(/<link>([\\s\\S]*?)<\\/link>/i)||[])[1]);const desc=t((it.match(/<description>([\\s\\S]*?)<\\/description>/i)||[])[1]);const date=t((it.match(/<pubDate>([\\s\\S]*?)<\\/pubDate>/i)||[])[1]||(it.match(/<updated>([\\s\\S]*?)<\\/updated>/i)||[])[1]);if(!title||!link) continue;out.push({id:link||title,title,summary:desc,url:link,source:'Startups.com.br',source_url:'https://startups.com.br',country:'Brasil',topics:['Startups','VC'],language:'pt',published_at:new Date(date||Date.now()).toISOString(),relevance:5,sentiment:'neutral',author:'',curator:'Luciano AI'});}return [{ json:{ articles: out } }];" }, "id": "parse-startupsbr", "name": "PARSE_StartupsBR", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [ -1456, 128 ] },
    {
      "parameters": {
        "jsCode": "function p(){ try{ return $items('BUILD_PARAMS',0,0).json.params; }catch{ return {}; } }\nconst params=p(); const hours=Number(params.timeWindowHours||48); const now=Date.now();\nconst all=$input.all(); const arr=[]; for(const it of all){ const a=Array.isArray(it.json.articles)? it.json.articles: []; for(const x of a){ if(x && x.url) arr.push(x); } }\nconst seen=new Set(); const out=[]; for(const a of arr){ const k=a.url; if(!k||seen.has(k)) continue; seen.add(k); out.push(a); }\nconst filtered=out.filter(a=>{ const t=new Date(a.published_at).getTime(); return isFinite(t) && (now-t)<=hours*3600*1000; });\nfiltered.sort((a,b)=> new Date(b.published_at)-new Date(a.published_at));\nreturn [{ json:{ category:'startups', articles: filtered } }];"
      },
      "id": "aggregate-startups",
      "name": "AGGREGATE",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [ -1184, 16 ]
    },
    {
      "parameters": {
        "jsCode": "function item(n){ try{ const it=$items(n,0,0); return it && it.json ? it.json : null; }catch(_){ return null; } }\nconst params = (item('BUILD_PARAMS')?.params) || {};\nconst owner = params.repoOwner || 'vulcanoai';\nconst repo  = params.repoName  || 'vulcanoai.github.io';\nconst branch= params.branch     || 'main';\nconst base  = `https://api.github.com/repos/${owner}/${repo}/contents`;\nconst latestPath = params.pathLatest || 'data/startups/feed-latest.json';\nconst snapshotPath = params.pathSnapshot || ('data/startups/feed-'+new Date().toISOString().slice(0,10)+'.json');\nconst input = item('AGGREGATE') || $json || {};\nconst articles = Array.isArray(input.articles) ? input.articles : [];\nconst latestPayload = JSON.stringify({ version:'v1.0', category:'startups', generated_at: new Date().toISOString(), articles }, null, 2);\nconst latestContent = Buffer.from(latestPayload).toString('base64');\nreturn [ { json: { target:'latest', base, branch, path: latestPath, content: latestContent, message: 'chore(startups): update feed-latest.json' } }, { json: { target:'snapshot', base, branch, path: snapshotPath, content: latestContent, message: 'chore(startups): snapshot for day' } } ];"
      },
      "id": "build-gh-body-startups",
      "name": "BUILD_GH_BODY",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [ -944, 16 ]
    },
    {
      "parameters": {
        "url": "={{$json.base}}/{{ $json.path }}?ref={{$json.branch}}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "sendHeaders": true,
        "headerParameters": { "parameters": [ { "name": "Accept", "value": "application/vnd.github+json" } ] }
      },
      "id": "gh-get-startups-sha",
      "name": "GITHUB_GET_SHA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [ -768, -80 ],
      "alwaysOutputData": true,
      "continueOnFail": true,
      "credentials": { "githubApi": { "id": "fiWvt8LJXl85zjSx", "name": "GitHub account" } }
    },
    { "parameters": { "mode": "mergeByPosition", "options": {} }, "id": "merge-sha-startups", "name": "MERGE_SHA", "type": "n8n-nodes-base.merge", "typeVersion": 2, "position": [ -560, -32 ] },
    {
      "parameters": {
        "jsCode": "const j=$json||{}; const base=j.base||''; const path=j.path||''; const branch=j.branch||'main'; const message=j.message||'chore(startups): update'; const content=j.content; let sha; if(j && j.body && typeof j.body.sha==='string') sha=j.body.sha; if(!sha && j && j.data && typeof j.data.sha==='string') sha=j.data.sha; const body={ message, content, branch }; if(sha) body.sha=sha; return [{ json: { url: `${base}/${path}`, body } }];"
      },
      "id": "build-put-startups",
      "name": "BUILD_PUT",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [ -368, 16 ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{$json.url}}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "sendHeaders": true,
        "headerParameters": { "parameters": [ { "name": "Accept", "value": "application/vnd.github+json" }, { "name": "Content-Type", "value": "application/json" } ] },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.body }}"
      },
      "id": "gh-put-startups",
      "name": "GITHUB_PUT",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [ -176, 16 ],
      "credentials": { "githubApi": { "id": "fiWvt8LJXl85zjSx", "name": "GitHub account" } }
    }
  ],
  "connections": {
    "AUTOPILOT_hourly": { "main": [ [ { "node": "BUILD_PARAMS", "type": "main", "index": 0 }, { "node": "HTTP_Contxto_RSS", "type": "main", "index": 0 }, { "node": "HTTP_Startupi_RSS", "type": "main", "index": 0 }, { "node": "HTTP_StartupsBR_RSS", "type": "main", "index": 0 } ] ] },
    "HTTP_Contxto_RSS": { "main": [ [ { "node": "PARSE_Contxto", "type": "main", "index": 0 } ] ] },
    "HTTP_Startupi_RSS": { "main": [ [ { "node": "PARSE_Startupi", "type": "main", "index": 0 } ] ] },
    "HTTP_StartupsBR_RSS": { "main": [ [ { "node": "PARSE_StartupsBR", "type": "main", "index": 0 } ] ] },
    "PARSE_Contxto": { "main": [ [ { "node": "AGGREGATE", "type": "main", "index": 0 } ] ] },
    "PARSE_Startupi": { "main": [ [ { "node": "AGGREGATE", "type": "main", "index": 0 } ] ] },
    "PARSE_StartupsBR": { "main": [ [ { "node": "AGGREGATE", "type": "main", "index": 0 } ] ] },
    "AGGREGATE": { "main": [ [ { "node": "BUILD_GH_BODY", "type": "main", "index": 0 } ] ] },
    "BUILD_GH_BODY": { "main": [ [ { "node": "GITHUB_GET_SHA", "type": "main", "index": 0 }, { "node": "MERGE_SHA", "type": "main", "index": 0 } ] ] },
    "GITHUB_GET_SHA": { "main": [ [ { "node": "MERGE_SHA", "type": "main", "index": 1 } ] ] },
    "MERGE_SHA": { "main": [ [ { "node": "BUILD_PUT", "type": "main", "index": 0 } ] ] }
  },
  "active": false,
  "settings": { "executionOrder": "v1", "callerPolicy": "workflowsFromSameOwner" },
  "pinData": {},
  "tags": ["startups","autopilot","rss"]
}
